.gradient-text {
    background: linear-gradient(45deg, #f40685, #ffdd00, #fea1d6, #429200, #6495ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 .flip-card {
    perspective: 500px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d; 
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
  }
  
  .flip-card-front {
    text-align: center;
    padding: 20px;
  }
  
  .flip-card-back {
    text-align: center;
    padding: 20px;
    transform: rotateY(180deg); 
  }
  